.footer {
  background-color: $color-black-pearl;
  color: $color-default-white;

  &__wreapper {
    display: flex;
    padding: 50px 0 55px 0;

    @include vp-1023 {
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: space-between;
      padding-bottom: 50px;
    }

    @include vp-767 {
      display: grid;
      grid-template-columns: 1fr;
      padding: 35px 0;

      &::before {
        position: absolute;
        content: "";

        width: 100vw;
        height: 1px;

        left: 0;
        bottom: 25px;

        background-color: $color-default-white;
      }
    }
  }

  &__logo-social {
    display: flex;
    flex-direction: column;

    @include vp-1023 {
      grid-column: 1/-1;
      margin: 0;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 35px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: 24px;
    }
  }

  &__logo {
    margin-bottom: 30px;

    @include vp-1023 {
      margin: 0;
    }

    @include vp-767 {
      width: 215px;
      height: 55px;
      margin-bottom: 15px;
    }
  }

  &__social-list {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 40px);
    gap: 15px 15px;

    @include vp-1023 {
      padding: 0;
    }
  }

  &__social-link {
    display: flex;
    padding: 5px;

    color: inherit;

    cursor: pointer;
  }

  &__sections-wrapper,
  &__address-wrapper {
    @include vp-767 {
      padding-top: 22px;
      position: relative;
    }
  }

  &__sections-wrapper {
    margin: 0 auto;

    @include vp-1023 {
      margin: 0;
    }

    @include vp-767 {
      padding-bottom: 6px;
    }
  }

  &__address-wrapper {
    max-width: 320px;

    @include vp-767 {
      max-width: 100%;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;

    font-family: $roboto-regular;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @include vp-767 {
      margin-bottom: 15px;
      padding-right: 10px;
    }
  }

  &__sections-list,
  &__address-list {
    margin: 0;
    padding: 0;

    list-style: none;
    font-family: $pt-mono-regular;
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
    color: $color-transparent-white-07;

    @include vp-767 {
      max-height: auto;
      height: 0;
      overflow: hidden;

      &::before {
        position: absolute;
        content: "";

        width: 100vw;
        height: 1px;

        left: -25px;
        top: 0;

        background-color: $color-default-white;
      }
    }

    &.is-open {
      transition: all $trans-default;
      height: auto;
      padding-bottom: 9px;
    }
  }

  &__section-link,
  &__address-link {
    font-family: inherit;
    color: inherit;
    cursor: pointer;
  }

  &__section-link {
    display: block;
  }

  &__sections-list {
    max-width: 470px;

    display: grid;
    grid-template-columns: 220px auto;
    gap: 10px 30px;

    @include vp-1023 {
      display: flex;
      flex-direction: column;
      max-width: 220px;
    }
  }

  &__sections-item {
    display: flex;

    @include vp-1023 {
      &--products {
        order: 1;
      }

      &--production {
        order: 2;
        margin-bottom: -6px;
      }

      &--installation {
        order: 4;
      }

      &--accessories {
        order: 5;
      }

      &--delivery {
        order: 6;
      }

      &--contacts {
        order: 7;
      }
    }
  }

  &__address-list {
    display: flex;
    flex-direction: column;
    line-height: 25px;

    @include vp-1023 {
      max-width: 320px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__address-item {
    margin-bottom: 6px;

    order: 1;

    @include vp-767 {
      margin-bottom: 10px;
    }

    &:first-child {
      margin-bottom: 4px;

      @include vp-767 {
        margin-bottom: 24px;
      }
    }

    &:last-child {
      margin: 0;
    }
  }

  &__address-text {
    font-style: normal;
    margin: 0;
    max-width: 345px;
  }

  &__button {
    display: none;

    @include vp-767 {
      display: block;
      position: absolute;
      right: -25px;
      top: 0;

      width: 118%;
      height: 100%;

      border: none;
      background-color: transparent;
      padding: 0;

      &::before,
      &::after {
        position: absolute;
        content: "";
        top: 26px;
        right: 27px;

        width: 15px;
        height: 1px;

        background-color: $color-default-white;
      }

      &::after {
        transform: rotate(90deg);
      }

      &.is-active::after {
        display: none;
      }
    }
  }

  &__section-link,
  &__address-link,
  &__social-link {
    transition: $trans-default;

    &:hover {
      color: $color-deep-sky-blue;
    }

    &:active {
      color: $color-cerulean;
    }
  }
}
