.header {
  font-family: $pt-mono-regular;
  background: $blue-to-right, ;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-default-white;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 3;

  @media(max-width: $vp-1024) {
    position: relative;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 30px 0 35px 0;

  @media(max-width: $vp-768) {
    padding: 20px 0 25px 0;
  }

  @media(max-width: $vp-375) {
    padding: 15px 0 20px 0;
  }
}

.header__logo {
  margin-right: auto;

  @media(max-width: $vp-768) {
    align-self: flex-start;
    margin: 0;
  }

  @media(max-width: $vp-375) {
    margin-right: 124px;
  }
}

.header__callback {
  min-width: 160px;
  font-family: $roboto-regular;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-alice-blue;
  padding: 10px 15px;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;

  @media (max-width: $vp-768) {
    display: none;
  }
}
