.hero {
  background-color: $color-black-pearl;
  color: $color-alice-blue;
  font-family: $roboto-regular;
  position: relative;

  img {
    position: absolute;
    z-index: 1;
    top: -18px;
    left: 0;
    width: 100%;
    height: 102%;
    object-fit: cover;

    @media (max-width: $vp-1024) {
      height: 133vh;
    }

    @media (max-width: $vp-768) {
      height: 158vh;
    }
  }
}

.hero__wrapper {
  padding: 185px 0 295px 140px;
  position: relative;
  z-index: 2;

  @media (max-width: $vp-1024) {
    padding: 80px 0 205px 0;
  }

  @media (max-width: $vp-768) {
    padding-bottom: 190px;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  @media (max-width: $vp-1024) {
    font-size: 64px;
    line-height: 75px;
  }

  @media (max-width: $vp-768) {
    font-size: 36px;
    line-height: 42px;
  }
}

.hero__text {
  margin: 0;
  margin-bottom: 40px;
  font-family: $pt-mono-regular;
  font-weight: 400px;
  font-size: 22px;
  line-height: 34px;
  max-width: 685px;

  @media (max-width: $vp-1024) {
    font-size: 22px;
    line-height: 34px;
    max-width: 670px;
  }

  @media (max-width: $vp-768) {
    font-size: 14px;
    line-height: 22px;
    max-width: 271px;
  }
}

.hero__link {
  display: block;
  max-width: 410px;
  margin: 0;
  padding: 15px 25px;

  font-family: inherit;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: inherit;
  border-radius: 3px;

  background-color: $color-deep-sky-blue;
  cursor: pointer;

  @media (max-width: $vp-1024) {
    margin-left: 20px;
  }

  @media (max-width: $vp-768) {
    max-width: 270px;


    font-size: 14px;
    line-height: 16px;
  }
}

.hero__link-text {
  &--mobil-only {
    display: none;
  }

  @media (max-width: $vp-768) {
    display: none;

    &--mobil-only {
      display: block;
    }
  }
}
