.main-nav {
  margin-right: 147px;

  @include vp-1439 {
    margin: 0 auto;
  }

  @include vp-1023 {
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 12px;
  }

  @include vp-767 {
    margin-right: 10px;
    margin-bottom: 0;
  }

  &__list {
    max-width: 550px;
    min-width: 480px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    @include vp-1023 {
      min-width: auto;
    }

    @include vp-767 {
      justify-content: space-between;

      min-width: 100px;
    }
  }

  &__item {
    display: flex;
    margin-right: 123px;
    margin-bottom: 10px;

    &:last-child {
      margin: 0;
    }

    @include vp-1023 {
      margin-right: 20px;
    }

    @include vp-767 {
      margin: 0;
    }
  }

  &__icon {
    margin-right: 15px;

    @include vp-1023 {
      margin: 0;
    }
  }

  &__link {
    display: flex;
    color: inherit;
    font-family: inherit;
    cursor: pointer;

    transition: $trans-default;

    &:hover {
      scale: 1.1;
    }

    &:active {
      color: $color-deep-sky-blue;
    }

    @include vp-1023 {
      min-width: 40px;
      min-height: 40px;
      align-items: center;
      justify-content: center;
    }
  }

  &__link-text {
    @include vp-1023 {
      display: none;
    }
  }
}
