.main-nav {
  margin-right: 147px;

  @include vp-1023 {
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 12px;
  }

  &__list {
    min-width: 480px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    @include vp-1023 {
      min-width: auto;
    }
  }

  &__item {
    display: flex;
    margin-right: 30px;

    &:last-child {
      margin: 0;
    }

    @include vp-1023 {
      margin-right: 20px;
    }
  }

  &__icon {
    margin-right: 15px;

    @include vp-1023 {
      margin: 0;
    }
  }

  &__link {
    display: flex;
    min-width: 225px;
    color: inherit;
    font-family: inherit;
    cursor: pointer;

    @include vp-1023 {
      min-width: 40px;
      min-height: 40px;
      align-items: center;
      justify-content: center;
    }


  }

  &__link-text {

    @include vp-1023 {
      display: none;
    }
  }
}
